body {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    padding: 1em;
}

th {
    text-align: center;
    font-size: 1.25em;
    padding-bottom: 0.2em;
}

td:not(:last-child) {
    padding-right: 0.5em;
}

tr:not(:first-child) > td {
    padding-top: 0.75em;
}

button {
    float: right;
}