body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    text-align: center;
}

#topbar {
    display: flex;
    align-items: center;
    width: 100%;
}

#username {
    flex-grow: 1;
}

#disconnect {
    padding: 0.5em 0.5em;
    margin-left: 1em;
}

#content {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    width: 100%;
    max-width: 80em;
}

#history {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 15em;
    max-width: 25%;
    min-width: 10em;
    height: 100%;
    align-items: center;
    padding: 0 1em;
    overflow: hidden;
    height: 90%;
}

#history-list {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.history-entry {
    height: 3.5em;
    width: 100%;
    padding: 0.25em;
    display: flex;
    max-width: 100%;
    overflow: hidden;
}

.history-entry:not(:last-child) {
    margin-bottom: 0.5em;
}

.history-entry .infos {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    padding: 0.2em 0.5em;
    overflow: hidden;
}

.history-entry .name {
    flex-grow: 1;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.history-entry .time {
    color: gray;
    font-size: smaller;
    overflow: hidden;
    text-overflow: ellipsis;
}

#game {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    align-items: center;
    height: 90%;
}

#create-room {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5em;
}

tr:not(:last-child) > td {
    padding-bottom: 1em;
}

td:not(:last-child) {
    padding-right: 0.5em;
}

#join-game {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    width: 100%;
}

#room-list {
    overflow: hidden;
    width: 50%;
    max-width: 30em;
    min-width: 15em;
    display: flex;
    flex-direction: column;
    padding: 0.2em;
}

#room-list:hover {
    overflow: auto;
}

#room-list .room {
    padding: 0.25em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.75em;
    width: 100%;
    height: 3.5em;
    align-items: center;
    cursor: pointer;
    display: flex;
}

#room-list .room > * {
    margin-right: 1em;
}

.icon {
    border: 0.175em black solid;
    height: 100%;
    width: auto;
    user-select: none;
    pointer-events: none;
}

#room-list .room .name {
    flex-grow: 1;
    text-overflow: ellipsis;
    overflow: hidden;
}

#room-list .room .players {
    flex-shrink: 0;
}

.hsep, .vsep {
    background: black;
    border-radius: 5px;
}

.hsep {
    width: 75%;
    height: 0.175em;
}

.vsep {
    height: 95%;
    width: 0.175em;
}