html, body {
    font-family: sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-grid {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 60% 20%;
    height: 90vmin;
    width: 90vmin;
}

#tapis {
    background-color: white;
    flex-grow: 3;
    flex-shrink: 0;
    display: flex;
}

#joueur_haut, #joueur_bas, #joueur_gauche, #joueur_droite {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}

#tapis {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 50%;
    margin: 5vmin;
}

#pioche {
    cursor: pointer;
    margin-right: 1em;
}

#pioche:hover {
    transform: scale(1.05);
}

#joueur_gauche .carte, #joueur_droite .carte {
    height: 2vmin;
    width: 12vmin;
}

#joueur_haut .carte {
    width: 2vmin;
    height: 12vmin;
}

#joueur_bas .carte {
    width: 6vmin;
    height: 12vmin;
    z-index: 100;
}

.carte {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.1s ease-out, margin-right 0.1s ease-out;
}

.carte > * {
    height: 15vmin;
    user-select: none;
}

#joueur_bas .carte:hover {
    /*z-index: 200;*/
    transform: translateY(-0.5vmin);
    cursor: pointer;
    margin-right: 2vmin;
}

/*#joueur_haut {
    background-color: red;
}*/

#joueur_haut img {
    transform: rotate(180deg);
}

/*#joueur_bas {
    background-color: blue;
}*/

#joueur_gauche {
    /*background-color: green;*/
    flex-direction: column;
}

#joueur_gauche img {
    transform: rotate(90deg);
}

#joueur_droite {
    /*background-color: yellow;*/
    flex-direction: column;
}

#joueur_droite img {
    transform: rotate(-90deg);
}

#leave-button {
    z-index: 100;
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    padding: 0.5em 1em;
}

#chat {
    z-index: 100;
    position: absolute;
    width: 25em;
    height: 15em;
    color: black;
    background: rgba(255, 255, 255, 0.75);
    right: 0.5em;
    bottom: 0.5em;
    display: flex;
    flex-direction: column;
}

#chat-toggle {
    font-size: 1.5em;
    position: absolute;
    top: 0.1em;
    right: 0.25em;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
}

#chat > *:nth-child(2) {
    display: flex;
    padding: 0.5em;
}

#message-input {
    flex-grow: 1;
    margin-right: 0.5em;
}

#messages {
    flex-grow: 1;
    overflow: auto;
    margin: 0.5em 2.25em 0 0.5em;
}

#message-submit {
    margin-right: 1.75em;
}

.message {
    margin-bottom: 0.2em;
}

.message-id {
    font-weight: bold;
}

.message-id::after {
    content: " : ";
}

.message-content {
    word-wrap: break-word;
}

@keyframes tourne {
  from { transform: rotate(0); }
  to { transform: rotate(360deg); }
}

.taco {
    animation-name: tourne;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}